.app-add-form {
    margin-top: 30px;
    padding: 25px;
    background-image: linear-gradient(45deg, #ffc0cb 0%, #fad0c4 99%, #fad0c4 100%);    color: #fff;
}

.add-form {
    margin-top: 20px;
}

.add-form input {
    width: 350px;
    margin-right: 20px;
}

@media (min-width: 400px) and (max-width: 599px) {
    .list-group-item span {
        min-width: 150px;
    }

    .icons {
        display: flex;
        flex-direction: column;
    }

    .app-add-form {
        display: flex;
        flex-direction: column;
    }

    .add-form {
        display: flex;
        flex-direction: column;
        width: 200px;
    }

    .add-form input {
        width: 200px;
    }

    .form-control {
        margin-top: 10px;
    }

    .btn {
        margin-top: 10px;
    }

    
}